<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="featureToggle" type="AspNetFeatureToggle.Configuration.FeatureToggleSection, FeatureToggle"/>
  </configSections>

  <featureToggle>
    <featureList>
      <add name="featureA" enabled="true" />
      <add name="featureB" enabled="false" />
      <add name="featureC" enabled="true" userListPath="C:\Users\emsiv1\Documents\GitHub\asp-net-feature-toggle\ExampleWebApp\FeatureC_UserList.config"/>
      <add name="featureD" enabled="true" />
      <add name="featureE" enabled="true" randomFactor="0.5" />

    </featureList>
  </featureToggle>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
