<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="featureToggle" type="AspNetFeatureToggle.Configuration.FeatureToggleSection, FeatureToggle"/>
  </configSections>

  <featureToggle>
    <featureList>
      <add name="featureA" toggleOn="true" />
      <add name="featureB" toggleOn="false" />
      <add name="featureC" />
      <add name="featureD" toggleOn="true" />
    </featureList>
  </featureToggle>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
